In [1]:
import json

In [2]:
import pandas as pd
pd.options.display.max_rows = 4000

In [3]:
f= open("./archive/quarterly_salary_discussion_jun_2023.json", 'r')
json_deserialized = json.load(f)

In [4]:
print(len(json_deserialized))

2

In [5]:
pd.json_normalize(json_deserialized[1]["data"], record_path=["children"], max_level=1)

,kind,data.author_flair_background_color,data.subreddit_id,data.approved_at_utc,data.author_is_blocked,data.comment_type,data.awarders,data.mod_reason_by,data.banned_by,data.author_flair_type,...,data.author,data.created_utc,data.subreddit_name_prefixed,data.controversiality,data.depth,data.ignore_reports,data.collapsed_because_crowd_control,data.mod_reports,data.num_reports,data.ups
0,t1,None,t5_36en4,NaN,False,None,[],None,None,text,...,BklynTwinMom,1.685673e+09,r/dataengineering,0,0,False,None,[],0,31
1,t1,None,t5_36en4,NaN,False,None,[],None,None,text,...,tanmmay,1.685638e+09,r/dataengineering,0,0,False,None,[],0,43
2,t1,None,t5_36en4,NaN,False,None,[],None,None,text,...,Luxi36,1.685678e+09,r/dataengineering,0,0,False,None,[],0,22
3,t1,None,t5_36en4,NaN,False,None,[],None,None,text,...,ExistentialFajitas,1.685697e+09,r/dataengineering,0,0,False,None,[],0,19
4,t1,None,t5_36en4,NaN,False,None,[],None,None,text,...,CarelessPassage8579,1.685707e+09,r/dataengineering,0,0,False,None,[],0,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,t1,None,t5_36en4,NaN,False,None,[],None,None,text,...,ai_jobs,1.691745e+09,r/dataengineering,0,0,False,None,[],0,1
112,t1,None,t5_36en4,NaN,False,None,[],None,None,text,...,NerdyHussy,1.691777e+09,r/dataengineering,0,0,False,None,[],0,1
113,t1,None,t5_36en4,NaN,False,None,[],None,None,text,...,abhorredtodeath,1.692367e+09,r/dataengineering,0,0,False,None,[],0,1
114,t1,None,t5_36en4,NaN,False,None,[],None,None,text,...,Material_Direction_1,1.692503e+09,r/dataengineering,0,0,False,None,[],0,1
115,t1,None,t5_36en4,1.693055e+09,False,None,[],None,None,text,...,EscapeDramatic4684,1.693055e+09,r/dataengineering,0,0,False,None,[],0,1

In [6]:
df = pd.json_normalize(json_deserialized[1]["data"], record_path=["children"], max_level=1)

In [7]:
print(df.head())

  kind data.author_flair_background_color data.subreddit_id  \
0   t1                               None          t5_36en4
1   t1                               None          t5_36en4
2   t1                               None          t5_36en4
3   t1                               None          t5_36en4
4   t1                               None          t5_36en4

   data.approved_at_utc  data.author_is_blocked data.comment_type  \
0                   NaN                   False              None
1                   NaN                   False              None
2                   NaN                   False              None
3                   NaN                   False              None
4                   NaN                   False              None

  data.awarders data.mod_reason_by data.banned_by data.author_flair_type  ...  \
0            []               None           None                   text  ...
1            []               None           None                   text  ...
2            []               None           None                   text  ...
3            []               None           None                   text  ...
4            []               None           None                   text  ...

           data.author data.created_utc  data.subreddit_name_prefixed  \
0         BklynTwinMom     1.685673e+09             r/dataengineering
1              tanmmay     1.685638e+09             r/dataengineering
2               Luxi36     1.685678e+09             r/dataengineering
3   ExistentialFajitas     1.685697e+09             r/dataengineering
4  CarelessPassage8579     1.685707e+09             r/dataengineering

  data.controversiality data.depth data.ignore_reports  \
0                     0          0               False
1                     0          0               False
2                     0          0               False
3                     0          0               False
4                     0          0               False

  data.collapsed_because_crowd_control  data.mod_reports data.num_reports  \
0                                 None                []                0
1                                 None                []                0
2                                 None                []                0
3                                 None                []                0
4                                 None                []                0

  data.ups
0       31
1       43
2       22
3       19
4       19

[5 rows x 75 columns]

In [8]:
print(df.columns)

Index(['kind', 'data.author_flair_background_color', 'data.subreddit_id',
       'data.approved_at_utc', 'data.author_is_blocked', 'data.comment_type',
       'data.awarders', 'data.mod_reason_by', 'data.banned_by',
       'data.author_flair_type', 'data.total_awards_received',
       'data.subreddit', 'data.removed', 'data.author_flair_template_id',
       'data.likes', 'data.replies', 'data.user_reports', 'data.saved',
       'data.id', 'data.banned_at_utc', 'data.mod_reason_title', 'data.gilded',
       'data.archived', 'data.collapsed_reason_code', 'data.no_follow',
       'data.spam', 'data.can_mod_post', 'data.send_replies', 'data.parent_id',
       'data.score', 'data.author_fullname', 'data.removal_reason',
       'data.approved_by', 'data.mod_note', 'data.all_awardings',
       'data.collapsed', 'data.body', 'data.edited', 'data.top_awarded_type',
       'data.author_flair_css_class', 'data.name', 'data.is_submitter',
       'data.downs', 'data.author_flair_richtext', 'data.author_patreon_flair',
       'data.body_html', 'data.gildings', 'data.collapsed_reason',
       'data.distinguished', 'data.associated_award', 'data.stickied',
       'data.author_premium', 'data.can_gild', 'data.link_id',
       'data.unrepliable_reason', 'data.approved',
       'data.author_flair_text_color', 'data.score_hidden', 'data.permalink',
       'data.subreddit_type', 'data.locked', 'data.report_reasons',
       'data.created', 'data.author_flair_text', 'data.treatment_tags',
       'data.author', 'data.created_utc', 'data.subreddit_name_prefixed',
       'data.controversiality', 'data.depth', 'data.ignore_reports',
       'data.collapsed_because_crowd_control', 'data.mod_reports',
       'data.num_reports', 'data.ups'],
      dtype='object')

In [9]:
print(df.shape)

(116, 75)

In [120]:
#select columns of interest
transformed_df = df[["data.id","data.author_fullname","data.created","data.body","data.permalink"]]

In [121]:
#Convert UTC dates
transformed_df["data.created"] = pd.to_datetime(df["data.created"],unit='s')

/var/folders/pr/pffq2swj3wjdp25_j3mhffgh0000gn/T/ipykernel_3368/884217166.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed_df["data.created"] = pd.to_datetime(df["data.created"],unit='s')

In [122]:
#Convert subreddit names to URLs
transformed_df["data.permalink"] = 'https://reddit.com' + df["data.permalink"]

/var/folders/pr/pffq2swj3wjdp25_j3mhffgh0000gn/T/ipykernel_3368/3354919982.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed_df["data.permalink"] = 'https://reddit.com' + df["data.permalink"]

In [123]:
#replace double newline, carriage return and tab characters
transformed_df["data.body"] = transformed_df["data.body"].str.replace("\n\n","\n")
transformed_df["data.body"] = transformed_df["data.body"].str.replace("\r","")
transformed_df["data.body"] = transformed_df["data.body"].str.replace("\t","")

/var/folders/pr/pffq2swj3wjdp25_j3mhffgh0000gn/T/ipykernel_3368/2853373037.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed_df["data.body"] = transformed_df["data.body"].str.replace("\n\n","\n")
/var/folders/pr/pffq2swj3wjdp25_j3mhffgh0000gn/T/ipykernel_3368/2853373037.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed_df["data.body"] = transformed_df["data.body"].str.replace("\r","")
/var/folders/pr/pffq2swj3wjdp25_j3mhffgh0000gn/T/ipykernel_3368/2853373037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed_df["data.body"] = transformed_df["data.body"].str.replace("\t","")

In [119]:
# transformed_df = transformed_df_copy
# print(transformed_df.shape)

(116, 5)

In [125]:
#Split on newline character and save as new df
transformed_df_copy = transformed_df
transformed_df_body = transformed_df["data.body"].str.split('\n',expand=True)
print(transformed_df.shape)

(116, 28)

In [126]:
#attach resulting df to original df
transformed_df = pd.concat([transformed_df, transformed_df_body], axis=1)
print(transformed_df.shape)

(116, 33)

In [127]:
#drop extra column
transformed_df = transformed_df.drop(labels='data.body', axis=1)
print(transformed_df.shape)

(116, 32)

In [130]:
transformed_df.rename(columns={transformed_df.columns[4]: 'data.title'}, inplace=True)

,data.id,data.author_fullname,data.created,data.permalink,data.title,1,2,3,4,5,...,18,19,20,21,22,23,24,25,26,27
0,jmka8w8,t2_53jbedp2,2023-06-02 02:26:41,https://reddit.com/r/dataengineering/comments/...,1. Staff Data Engineer,"2. 11y in software, 2.5y in data",3. Fully remote with HQ in NYC,4. $185K USD,5. $15K signing bonus,6. Workforce development,...,None,None,None,None,None,None,None,None,None,None
1,jmhw19s,t2_2qw5ch8w,2023-06-01 16:42:47,https://reddit.com/r/dataengineering/comments/...,1. Title: Senior Analytics Engineer,2. YOE: 7,"3. Location: Seattle, WA","4. Base Salary: $190,000","5. Bonuses/Equity: 20k joining, 120k equity sp...",6. Industry: Telehealth,...,None,None,None,None,None,None,None,None,None,None
2,jmkkmgs,t2_1jkhpl2f,2023-06-02 03:55:13,https://reddit.com/r/dataengineering/comments/...,1. Title: Data Engineer,"2. YOE: 5 (3 as DE, 2 as SQL developer)",3. Location: The Netherlands,4. Base Salary: 5.250 gross per month,5. Bonus: currently none,6. Industry: Health tech,...,None,None,None,None,None,None,None,None,None,None
3,jmlalsy,t2_708ooj,2023-06-02 09:08:14,https://reddit.com/r/dataengineering/comments/...,1. Database Engineer II,2. YOE: &lt;1,"3. Hybrid US Midwest, MCOL",4. Base: $85k,5. 5% target annual bonus,6. Finance,...,None,None,None,None,None,None,None,None,None,None
4,jmlpdoq,t2_jyrtun40,2023-06-02 12:00:08,https://reddit.com/r/dataengineering/comments/...,1. Title : Senior Data Engineer,2. YOE : 5,3. Location : London,4. Base salary: £65000,5. Edu,"7. Tech stack : Azure cloud (ADF, ADLS), datab...",...,None,None,None,None,None,None,None,None,None,None
5,jmj5t0x,t2_32nu9vwc,2023-06-01 21:30:32,https://reddit.com/r/dataengineering/comments/...,1. Current Title: Senior Machine Learning Engi...,2. Years of experience: 4 years in various eng...,"3. Location: Chicago, but I work remote every ...",4. Base salary: 155k,"5. Bonuses/Equity: realistically 5-10k, but co...",6. Industry: DM and I might be able to tell,...,None,None,None,None,None,None,None,None,None,None
6,jmkzwtw,t2_5r03j1fe,2023-06-02 06:42:25,https://reddit.com/r/dataengineering/comments/...,1. Data Engineering Manager,2. 7 YOE,3. Seattle,4. $181k,5. TC with stocks adding up to $420k.,None,...,None,None,None,None,None,None,None,None,None,None
7,jmhvcoc,t2_13kjsv,2023-06-01 16:38:34,https://reddit.com/r/dataengineering/comments/...,1) Title: Analytics Engineer,"2) YOE: 11.5 in software, 3.5 in data.","3) Location: Orlando, FL","4) Base Salary: $117,000","5) Bonuses: Cash 7% target, long term incentiv...",6) industry: hospitality,...,None,None,None,None,None,None,None,None,None,None
8,jmi7pi8,t2_11j7n0,2023-06-01 17:55:49,https://reddit.com/r/dataengineering/comments/...,1. Title: Data Engineer II,"2. YOE: 2.5 in software, 1.5 in data.","3. Location: Orlando, FL","4. Base Salary: $139,000",5. Bonuses: 10% target,6. Industry: Healthcare,...,None,None,None,None,None,None,None,None,None,None
9,jmizguf,t2_97hu3nt7,2023-06-01 20:49:45,https://reddit.com/r/dataengineering/comments/...,1. title : BI + ETL developer,"2. YOE : 0.5 DE, 2+ IT BA","3. Location : HCMC, Vietnam","4. Base Sal : $15,600",5. Bonuses : -,6. Industry : HRM / MSP,...,None,None,None,None,None,None,None,None,None,None
10,jmjw07q,t2_8oyldhmd,2023-06-02 00:38:07,https://reddit.com/r/dataengineering/comments/...,1. Title: Data Engineer,2. YOE: 6.5 in data.,3. Location: DC,"4. Base Salary: $160,000",5. Bonuses: 10% target,6. Industry: startup,...,None,None,None,None,None,None,None,None,None,None
11,jmlrgoz,t2_269ny5o2,2023-06-02 12:18:54,https://reddit.com/r/dataengineering/comments/...,1. Senior Data Engineer,2. 6 YOE,"3. Copenhagen, Denmark",4. 720000 DKK (Approx € 97000),5. 7.5% up to 14%,6. Maritime,...,None,None,None,None,None,None,None,None,None,None
12,jnmkpoo,t2_240o2syf,2023-06-10 05:43:26,https://reddit.com/r/dataengineering/comments/...,1.⁠ Data Engineer,"2.⁠1Y BI, 2Y MLE, 1Y DE","3.Lcol, Tier 2 city in India",4.⁠16 LPA INR,5.⁠2 LPA INR,6.⁠Aviation,...,None,None,None,None,None,None,None,None,None,None
13,jpl98k6,t2_69etl0m1,2023-06-26 14:06:01,https://reddit.com/r/dataengineering/comments/...,1. Data engineer,2. 3 years academia bioinformatics with softwa...,"3. Fully remote, Durham, NC","4. $95,500","5. up to $5,000 yearly bonus",6. Healthcare,...,None,None,None,None,None,None,None,None,None,None
14,jmnj2km,t2_jiy3yx17,2023-06-02 19:32:25,https://reddit.com/r/dataengineering/comments/...,1. Data Engineer,"2. 4 (1 as DE, 3 as Analyst/Bi developer)",3. Finland,4. 60k EUR,"5. Holiday bonus 2,5k EUR , Billing rate bonus...",6. Consulting,...,None,None,None,None,None,None,None,None,None,None
15,jnqa5hl,t2_5ap0pbmh,2023-06-11 01:46:20,https://reddit.com/r/dataengineering/comments/...,1. Sr Data Engineer,2. 8 YOE in data,"3. Seattle, WA (remote)",4. 184k Base,5. At current market value my annual equity is...,6. Tech,...,None,None,None,None,None,None,None,None,None,None
16,jmlbxel,t2_w5tpk,2023-06-02 09:26:54,https://reddit.com/r/dataengineering/comments/...,1. Title: Data Engineer,2. YoE: 2.5,"3. Location: remote, I’m based in north east US",4. Base: $125k,5. Bonuses: up to 30% salary,"7. Tech stack: GCP (BQ, cloud run, etc), Pytho...",...,None,None,None,None,None,None,None,None,None,None
17,jmkoq34,t2_f3zvxf9b,2023-06-02 04:34:49,https://reddit.com/r/dataengineering/comments/...,1. Current title,Principal DE,2. Years of experience (YOE),Too many,3. Location,SoCal,...,None,None,None,None,None,None,None,None,None,None
18,jmicmzo,NaN,2023-06-01 18:26:36,https://reddit.com/r/dataengineering/comments/...,1. Title: Analytics Engineer (bit of everythin...,2. YOE: 3.5,"3. Location: Indianapolis, IN","4. Base salary: $90,000",5. Bonuses: \~10% Cash,6. Industry: Agriculture,...,None,None,None,None,None,None,None,None,None,None
19,jmjb9mu,t2_3h5wixaf,2023-06-01 22:07:31,https://reddit.com/r/dataengineering/comments/...,1. Title: Data Engineer,"2. YOE: &lt;1, 3 in data","3. Location: Des Moines, IA",4. Base Salary: 75k,5. Bonuses: Up to 12% Base,6. Industry: Insurance,...,None,None,None,None,None,None,None,None,None,None
20,jmjuhii,t2_4ozk87nk,2023-06-02 00:26:31,https://reddit.com/r/dataengineering/comments/...,1. Data Engineering and BI Manager,2. YOE: 5,3. 100% Remote (US Based),4. 135k,5. approx 15k per year,6. Consumer goods,...,None,None,None,None,None,None,None,None,None,None
21,jniyrzp,t2_7h2f8do1,2023-06-09 13:23:57,https://reddit.com/r/dataengineering/comments/...,1. Title: Data Engineer,2. YOE: 1,3. Location: Seattle,4. Base: $140k USD,5. Bonus: ~10k (based on rev/profitability),6. Industry: Insuretech,...,None,None,None,None,None,None,None,None,None,None
22,jmi59jn,t2_buq0i4k8,2023-06-01 17:40:40,https://reddit.com/r/dataengineering/comments/...,1. Everything ?,"(ELT development , DB management, BI report / ...",Also I have been taking on the role of BI arc...,,,2. 6 YOE,...,,,"7. Old stack -&gt; MS SSIS, SSMS, tableau",,,"New stack -&gt; AWS MWAA (Airflow), dbt, snowf...",,,I am slowly starting to look around for better...,None
23,jmjadg0,t2_v98q7m1n,2023-06-01 22:01:17,https://reddit.com/r/dataengineering/comments/...,1.⁠Senior “enterprise technology analyst” (dat...,2.⁠11 years in data (first 5 analytics and ML),"3.⁠US West coast (still WFH, but they’re plann...","4.⁠154K USD (146K in 2022, before promotion to...",5.⁠None.,6.⁠Utilities (municipal),...,None,None,None,None,None,None,None,None,None,None
24,jmky74x,t2_5cmnl,2023-06-02 06:21:02,https://reddit.com/r/dataengineering/comments/...,1. Title: senior sales engineer,2. YOE: 15 years,3. Location: remote (Indiana),"4. Base salary: 185,000","5. Other income: 65,000 commission target + 20...",6. Healthcare,...,None,None,None,None,None,None,None,None,None,None
25,jmljxsc,t2_2gp1vrnw,2023-06-02 11:06:37,https://reddit.com/r/dataengineering/comments/...,1. Data Engineer.,2. Self taught into job. Just over 2 YOE in D...,"3. UK (Not London, not South).",4. £70k,5. N/A,6. Professional services.,...,None,None,None,None,None,None,None,None,None,None
26,jmloaec,t2_r25i7my,2023-06-02 11:50:06,https://reddit.com/r/dataengineering/comments/...,1. Title: Senior Data Engineer,"2. YOE: 2 years Software, 5 years DevOps, 10 y...","3. Location: Melbourne, Australia","4. Base Salary: $176,800 AUD",5. Bonuses: Cash 3%-6% depending on performance,6. Industry: Employment,...,None,None,None,None,None,None,None,None,None,None
27,jmlyd5r,t2_8etbdwvd,2023-06-02 13:15:49,https://reddit.com/r/dataengineering/comments/...,1. Data Engineer,2. 4y + 2y as DE,3. South Germany,4. 58k€,5. 6k€,6. Automotive,...,None,None,None,None,None,None,None,None,None,None
28,jmphaly,t2_ii3458ps,2023-06-03 05:03:26,https://reddit.com/r/dataengineering/comments/...,1.Data Engineer,2.2,3.Remote US,4.140000 USD,"5.5% cash, stock options vested evenly over 4 ...",7.GCP,...,None,None,None,None,None,None,None,None,None,None
29,jocu47c,t2_pogyt,2023-06-16 14:45:32,https://reddit.com/r/dataengineering/comments/...,1. Current title: DE,"2. YOE: 4.5 (2 as analyst, 1 as BI engineer, 1...",3. Location: Remote Midwest,4. Base salary: $140k usd,5. Bonus: 10%,6. Industry: entertainment,...,None,None,None,None,None,None,None,None,None,None
30,jmjc5a6,t2_15cq8l,2023-06-01 22:13:36,https://reddit.com/r/dataengineering/comments/...,1.⁠Title: Data Engineer,2.⁠YOE: 5,3.⁠Location: Midwest remote,"4.⁠Base Salary: $140,000",5.⁠Bonuses: ~$50K in stock,6.⁠industry: finance,...,None,None,None,None,None,None,None,None,None,None
31,jmjpu53,NaN,2023-06-01 23:51:44,https://reddit.com/r/dataengineering/comments/...,[deleted],None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
32,jmkawvf,t2_67fjp2dx,2023-06-02 02:31:51,https://reddit.com/r/dataengineering/comments/...,1. SENIOR TECHNICAL DATA ANALYST,"2. 10 (on and off in various data roles, was o...",3. REMOTE,4. 125k USD all cash.,"5. This year, it was $700.00(dont spend it all...",6. Food Service,...,None,None,None,None,None,None,None,None,None,None
33,jmlpk1n,t2_cvomfxxy,2023-06-02 12:01:47,https://reddit.com/r/dataengineering/comments/...,1. Title: Senior Data Engineer,2. YOE: 5 years,"3. Location : Toronto, ON, Canada","4. Base : $130,000",5. Bonus 25%,6. Industry: Finance,...,None,None,None,None,None,None,None,None,None,None
34,jmmp5j5,t2_opc2kq0a,2023-06-02 16:17:46,https://reddit.com/r/dataengineering/comments/...,Title: senior data engineer,YOE: 7,Location: TX,Base salary: 175k,Bonus: sign on for 20k,Industry: Insurance,...,None,None,None,None,None,None,None,None,None,None
35,jmmspsl,t2_al2yxww8e,2023-06-02 16:40:26,https://reddit.com/r/dataengineering/comments/...,1. Senior Data Engineer,2. 4 years,3. England,"4. £58,000 (GBP)",5. Up to 10% per year (4.5% for 2023),6. Retail,...,None,None,None,None,None,None,None,None,None,None
36,jmn0l4t,t2_u551xlxp,2023-06-02 17:30:56,https://reddit.com/r/dataengineering/comments/...,1. Title: Lead Data Engineer,2. YOE: 20+ years,3. Location: remote USA,4. Salary: $185K USD,5. Bonus: 5-10%,6. &amp;#x200B;,...,None,None,None,None,None,None,None,None,None,None
37,jmn8y9b,t2_93zcj1f0,2023-06-02 18:25:14,https://reddit.com/r/dataengineering/comments/...,1. Senior Data Engineer,2. 6 years,3. US west coast full remote,4. 180k,5. 40k paper money,None,...,None,None,None,None,None,None,None,None,None,None
38,jmnirqz,t2_d0rjla0h,2023-06-02 19:30:22,https://reddit.com/r/dataengineering/comments/...,1. Analytics Engineer II,2. 2 years,"3. Dallas, TX",4. 82.5K,5. 10% of base,6. Advertising,...,None,None,None,None,None,None,None,None,None,None
39,jmnmbh7,t2_d6c9f33b,2023-06-02 19:54:26,https://reddit.com/r/dataengineering/comments/...,1. Data engineer,2. 3 as an analyst + 2 as a SWE/DE,3. SF Bay Area,4. 115K,5. 20k bonus,"7. python, AWS, legacy code has own scheduling...",...,None,None,None,None,None,None,None,None,None,None
40,jmns346,t2_clboehdf2,2023-06-02 20:33:40,https://reddit.com/r/dataengineering/comments/...,1. Title: Senior Data Engineer (More like Data...,"2. YOE: 2.5 in weird Data role, 1.5 in Web Dev...","3. Location: Bangkok, Thailand (Hybrid) 4 day...","4. Base Salary: \~ $42,000",5. Bonus: 33%-38% Cash (2022: 33%),6. Industry: Manufacturing,...,None,None,None,None,None,None,None,None,None,None
41,jof2a1n,t2_lihlao3a,2023-06-17 00:48:41,https://reddit.com/r/dataengineering/comments/...,1. Staff Data Engineer,2. Too many years,3. Remote (HQ - NY),4. $210k USD,5. Equity $200k,"7. GCP, Postgres, DBT, BQ, Airflow, GCF, AWS, ...",...,None,None,None,None,None,None,None,None,None,None
42,jowqett,t2_bzu8q5wq,2023-06-21 01:43:58,https://reddit.com/r/dataengineering/comments/...,1. Lead Data Engineer,2. 14 years,3. America - Remote only.,4. 311k USD,"5. Begins at 20%, technically no cap.",7. Kinda alot. Azure/AWS/On-Prem. Mix of DB's....,...,None,None,None,None,None,None,None,None,None,None
43,jrl0pqh,t2_er6hi4thp,2023-07-11 20:45:14,https://reddit.com/r/dataengineering/comments/...,```,1. Director of Data. Less impressive than it s...,2. Twelve total years experience,- three-ish years as a quant,- eight as Data Sci &amp; Analytics Eng,"3. fully remote (I split time between US, BVI,...",...,None,None,None,None,None,None,None,None,None,None
44,jmkjx26,t2_am640zf,2023-06-02 03:48:47,https://reddit.com/r/dataengineering/comments/...,1. Data Engineer - operations process,"2. 6 professional, 1 in DE",3. NYC - (HYBRID),4. $90k USD,5. 10% + equity,6. Startup - logistics,...,None,None,None,None,None,None,None,None,None,None
45,jmmds5e,t2_5egniat3,2023-06-02 15:03:17,https://reddit.com/r/dataengineering/comments/...,1. Data engineer,2. 4 YOE,3. Seattle,4. 124k,"5. 10% cash, 20k yearly in stock",6. Entertainment,...,None,None,None,None,None,None,None,None,None,None
46,jmmoifv,t2_17k8yb,2023-06-02 16:13:40,https://reddit.com/r/dataengineering/comments/...,"1. Title: Associate Director, Data Engineering","2. YOE: 17 years in data (DBA, analyst, engineer)",3. Location: Small city in Pennsylvania,4. Base Salary: $136k,5. Industry: Environmental non-profit,6. Tech: Currently SAS and Redshift but with e...,...,None,None,None,None,None,None,None,None,None,None
47,jmnoz0y,t2_2f6ooors,2023-06-02 20:12:26,https://reddit.com/r/dataengineering/comments/...,1: Data Engineer,2.: 3 YOE,"3: Budapest, Hungary",4: 37000 Euros,"5: breakfast, lunch in the office. Multiple te...",6: American job board,...,None,None,None,None,None,None,None,None,None,None
48,jn1tu6h,t2_a6ii2a6x,2023-06-05 23:05:18,https://reddit.com/r/dataengineering/comments/...,Awesome,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
49,jn7v10l,t2_umwzpce8,2023-06-07 05:04:59,https://reddit.com/r/dataengineering/comments/...,1. Data engineer,2. 1 year DE 2 years DS 3 years other,3. Boston,4. 160k,"5. No bonus, nonzero but pretty shit equity",6. Logistics,...,None,None,None,None,None,None,None,None,None,None
50,jncfhs4,t2_c10aw,2023-06-08 02:38:45,https://reddit.com/r/dataengineering/comments/...,,1.Business Intelligence Engineer,2.4 Years of experience (YOE),"3.Remote, Texas based company",4.$120K just did raises from $105 US dollars,5.Bonuses/Equity: 10% target expect less this ...,...,None,None,None,None,None,None,None,None,None,None
51,jnhmmwl,t2_6fc9dgwd,2023-06-09 04:17:58,https://reddit.com/r/dataengineering/comments/...,1. Senior Data Engineer (Tech Lead),2. 9 yrs mix of software/data,"3. Remote (company HQ in NJ), I’m in Baton Rou...",4. $140k salary,5. 401k 5% match (3% at 100% match 4 and 5 50%...,6. Health Tech,...,None,None,None,None,None,None,None,None,None,None
52,jnkpbbd,t2_un00je18,2023-06-09 20:19:37,https://reddit.com/r/dataengineering/comments/...,Not a lot of samples from Canada. Hoping to ge...,1. Data Engineer,"2. 10Yr in Industry, 6 as DBA(OLTP and OLAP) a...","3. B.C, Canada",4. 120K CAD,5. 10% base + RRSP Match,...,None,None,None,None,None,None,None,None,None,None
53,jnm95bs,t2_769qb,2023-06-10 03:38:12,https://reddit.com/r/dataengineering/comments/...,I just got a couple job offers and wanted to s...,,Current job,1. Title: Data Engineer (L4 is senior technica...,2. YOE: 4,"3. Location: Remote US (SF Bay Area, comp is s...",...,"7. Tech stack: dbt, AWS, Python, Tableau, HL7,...",,Job offer 2,1. Title: Senior Data Engineer (L5),2. YOE: 4,3. Location: Remote US (San Francisco),4. Base: $190k-207k USD,5. Bonuses/Equity: 10-15% annual; 100k-150k IS...,6. Industry: B2B SaaS (Series C),"7. Tech stack: Databricks, Terraform, AWS, Python"
54,jnoqxom,NaN,2023-06-10 18:34:58,https://reddit.com/r/dataengineering/comments/...,[deleted],None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
55,jrvjvkq,t2_5dtfp,2023-07-14 00:50:19,https://reddit.com/r/dataengineering/comments/...,1.⁠Data Engineer,"2.⁠3 years in data, preceded by 5 years in dig...","3.⁠Austin, TX",4.⁠185k USD annual,5.⁠30k annual + stock options,6.⁠DTC consumer goods brand,...,None,None,None,None,None,None,None,None,None,None
56,jtgglkk,t2_hd4zm,2023-07-26 00:06:56,https://reddit.com/r/dataengineering/comments/...,Title: Data Engineer II,"1. YoE: 1.5 at role, 4 total",2. Location: NYC,3. Base: \~130,4. Bonus: 10%,"5. Stack: AWS, Python, postgres",...,None,None,None,None,None,None,None,None,None,None
57,jmjv20i,t2_44l31,2023-06-02 00:30:51,https://reddit.com/r/dataengineering/comments/...,1. Title: Data Engineer - market data,"2. YOE: 3.5 as a DE, 5 as a data analyst",3. HCOL city,4. 181k USD,5. Bonus: 20% last year - not sure what is exp...,6. Asset Management,...,None,None,None,None,None,None,None,None,None,None
58,jmlzyr2,t2_75izjrdd,2023-06-02 13:28:01,https://reddit.com/r/dataengineering/comments/...,Title: Data Engineer,YOE: 1 year (first job),Location: Fully remote,"Base Salary: 100,000 USD",Bonus: Anual short-term incentive 7-11%,Industry: Insurance,...,None,None,None,None,None,None,None,None,None,None
59,jmns438,t2_6vwupnt,2023-06-02 20:33:51,https://reddit.com/r/dataengineering/comments/...,1. Title: Senior Data Engineer,"2. YOE: 31 years, 20 years in data","3. Location: Seattle, WA","4. Base: $160,000",5. Bonuses: zip,6. Industry: Healthcare,...,None,None,None,None,None,None,None,None,None,None
60,jmq5bpd,NaN,2023-06-03 10:29:28,https://reddit.com/r/dataengineering/comments/...,1. Data Consultant,2. 1 month (finished my minor degree last mon...,"3. Berlin, Germany, DE",4. 3.9K/mo ~47K/yo in EUR€,5. 2K every december &amp; chance to receive 5...,6. Consulting,...,None,None,None,None,None,None,None,None,None,None
61,jnmtex3,t2_egy68,2023-06-10 07:37:26,https://reddit.com/r/dataengineering/comments/...,1. Title: Azure Data Engineer,2. YoE: \~8,3. Location: London (but fully remote - in SEA...,"4. Salary: Not salaried, but rate equates to a...",5. Bonuses/equity: None,6. Industry: Nothing exciting,...,None,None,None,None,None,None,None,None,None,None
62,jo7kavk,t2_8ygo8,2023-06-15 10:18:40,https://reddit.com/r/dataengineering/comments/...,1. Lead Data Engineer,2. 8/9,3. Scotland/ UK,"4. £65,000",5. ~9%,6. broadcasting/ Media,...,None,None,None,None,None,None,None,None,None,None
63,joghz3k,t2_d9vuzu5v1,2023-06-17 11:04:56,https://reddit.com/r/dataengineering/comments/...,1. Data Engineer,2. 2 years (previous 4y analyst),3. London - remote,"4. £60,000",5. Not sure yet,6. Consulting,...,None,None,None,None,None,None,None,None,None,None
64,jokbf65,t2_6gzztyr2,2023-06-18 08:15:54,https://reddit.com/r/dataengineering/comments/...,1. Azure Data Engineer,2. 3.8 years,3. India (Noida),"4. 1,650,000 INR","5. 200,000 INR","7. PySpark, SQL, Azure Databricks, Azure Data ...",...,None,None,None,None,None,None,None,None,None,None
65,joyxrqi,t2_j7s0xdnq,2023-06-21 15:15:44,https://reddit.com/r/dataengineering/comments/...,Title: Data Engineer II,"YOE: 4 as DE, 5 as Analytics",Location: Chicago,Base Salary: 160k,Bonus: 10% annually - \~80k equity on joining,Industry: Tech,...,None,None,None,None,None,None,None,None,None,None

In [131]:
#remove rows that don't start with any of the following: 1., 1), 1:, Title, Current title, DE, AE, DA, ETL Dev
patterns = ["1.", "1)", "1:", "1-", "Title", "Current Title", "Data Engineer", "Data Analyst", "Analytics Engineer", "ETL Developer"]

filter_condition = transformed_df["data.title"].str.lower().str.startswith(tuple(pattern.lower() for pattern in patterns))

transformed_filtered=transformed_df.loc[filter_condition]
# transformed_filtered.to_csv(path_or_buf="./archive/test_filtered.csv", )
print(transformed_filtered.shape)

(104, 32)

In [132]:
#remove unnecessary strings like "1.", etc. from the beginning of the job title column values
transformed_filtered["data.title"] = transformed_filtered["data.title"].str.replace("^[ ]?1[.:)][ ]?","",regex=True)
transformed_filtered["data.title"] = transformed_filtered["data.title"].str.lower().str.replace("^[ ]?(current)?[ ]?(title)?[ ]?[:]?[ ]","",regex=True)
transformed_filtered["data.title"]
transformed_filtered.to_csv(path_or_buf="./archive/test_filtered.csv", )

/var/folders/pr/pffq2swj3wjdp25_j3mhffgh0000gn/T/ipykernel_3368/2629363935.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed_filtered["data.title"] = transformed_filtered["data.title"].str.replace("^[ ]?1[.:)][ ]?","",regex=True)
/var/folders/pr/pffq2swj3wjdp25_j3mhffgh0000gn/T/ipykernel_3368/2629363935.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transformed_filtered["data.title"] = transformed_filtered["data.title"].str.lower().str.replace("^[ ]?(current)?[ ]?(title)?[ ]?[:]?[ ]","",regex=True)

0                                    staff data engineer
1                              senior analytics engineer
2                                          data engineer
3                                   database engineer ii
4                                   senior data engineer
5                       senior machine learning engineer
6                               data engineering manager
7                                     analytics engineer
8                                     data engineer ii
9                                     bi + etl developer
10                                         data engineer
11                                  senior data engineer
12                                       ⁠ data engineer
13                                         data engineer
14                                         data engineer
15                                      sr data engineer
16                                        data engineer
17                                                 title
18     analytics engineer (bit of everything tbh, jus...
19                                         data engineer
20                       data engineering and bi manager
21                                         data engineer
22                                         everything ?
23     ⁠senior “enterprise technology analyst” (data ...
24                                 senior sales engineer
25                                        data engineer.
26                                  senior data engineer
27                                       data engineer
28                                         data engineer
29                                                    de
30                                 ⁠title: data engineer
32                         senior technical data analyst
33                                  senior data engineer
34                                 senior data engineer
35                                  senior data engineer
36                                    lead data engineer
37                                 senior data engineer
38                                 analytics engineer ii
39                                         data engineer
40     senior data engineer (more like data architect...
41                                  staff data engineer
42                                    lead data engineer
44                    data engineer - operations process
45                                        data engineer
46                  associate director, data engineering
47                                        data engineer
49                                         data engineer
51                      senior data engineer (tech lead)
55                                        ⁠data engineer
56                                      data engineer ii
57                           data engineer - market data
58                                         data engineer
59                                  senior data engineer
60                                       data consultant
61                                   azure data engineer
62                                    lead data engineer
63                                         data engineer
64                                   azure data engineer
65                                    data engineer ii
67                                         data engineer
68                                         data engineer
69                                      data engineer ||
70                                       data engineer
71                                    analytics engineer
72                        not actually de but bi analyst
73                                      data engineer ii
74     vp data science and hands on full stack engine...
75                             junior backend developer
76                                        ml engineer ii
79                          lead data management analyst
80     applications administrator/business applicatio...
81                                         data engineer
82                                        data engineer
83                                       data engineer
84                                         data engineer
85                                    lead data engineer
86                                     big data engineer
87                                    lead data engineer
88                                  senior data engineer
89                            data engineer (freelancer)
90                technology lead - advanced analytics
91                                                    de
93                                     data engineer i
94                                         data engineer
95                                        data engineer
96                             head of data engineering
97                                    lead data engineer
98                                  senior data engineer
99                                   lead data engineer
100                                      data engineer
101                                  staff data engineer
102                                        data engineer
103                                 senior data engineer
104                                      data engineer 2
105                                        data engineer
106                                        data engineer
107                                        data engineer
108                              principal data engineer
109    data engineer (available for ml engineer and d...
110                            data analytics consultant
112                                        sql developer
113                                         senior swe 1
114                                 junior data engineer
115                                data/dataops engineer
Name: data.title, dtype: object

In [ ]:
#drop columns that contain only "None"
transformed_df[0:]

In [ ]:
transformed_df_body =transformed_df_body.dropna(axis=1,how='all')

In [ ]:
transformed_df_body.replace('None', Null, regex=True)

In [ ]:
transformed_df_body.nunique()

In [ ]:
for i in range(13,44,1):
    print(list(set(transformed_df_body[i])))